nav {
    background-color: aquamarine;
    font-size: 2rem;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    
}
nav ul li {
  cursor: pointer;
  padding: 0.5rem;
  flex-grow: 1;
  text-align: center;
}

nav ul li:hover{
     background-color: black;
     color: beige;
}

@media all and (max-width:500px){
 nav ul {
    flex-direction: column;
   
}
}
   
